<!DOCTYPE html>
<html>
  <head>
    <title>자연 필라테스</title>
    <meta charset="utf-8"/>
    <!-- 기본 css(header, nav, footer) -->
    <link rel='stylesheet' href='/css/admin/basic.css'/>

    <!-- 상담페이지의 css -->
    <link rel='stylesheet' href='/css/admin/table.css'/>
  </head>

  <body>
    <%- include('header') -%>

    <section>
      <div id="submenu_title">
        <p>1:1 문의</p>
      </div>
      <table>
        <colgroup>
          <col style="width: 140px;" <!--글 번호-->
          <col style="width: 300px;" <!--제목-->
          <col style="width: 160px;" <!--작성자-->
          <col style="width: 160px;" <!--작성일-->
          <col style="width: 120px;" <!--잠금-->
        </colgroup>
        <thead>
          <tr>
            <th>글 번호</th>
            <th>제목</th>
            <th>작성자</th>
            <th>작성일</th>
            <th>답글</th>
          </tr>
        </thead>
        <tbody>
          <% for(var i = rows.length - 1; i>=0; i--){
            var d = new Date(rows[i].created);
            var date = d.getFullYear() + "." + d.getMonth() + "." + d.getDate();
            if (rows[i].answer === null){
              var isanswer = 'x';
            }else{
              var isanswer = 'o';
            } %>
            <tr class="consult">
              <td><%= i+1 %></td>
              <td id="title_content"><%= rows[i].title %></td>
              <td><%= rows[i].name %></td>
              <td><%= date %></td>
              <td><%= isanswer %></td>
            </tr>
          <% } %>
        </tbody>
      </table>
    </section>

    <script src="/js/admin/table_controller.js"></script>
  </body>
</html>
