<!DOCTYPE html>
<html>
  <head>
    <title>자연 필라테스</title>
    <meta charset="utf-8"/>
    <!-- 기본 css(header, nav, footer) -->
    <link rel='stylesheet' href='/css/admin/basic.css'/>

    <!-- 상담페이지의 css -->
    <link rel='stylesheet' href='/css/admin/consult.css'/>
  </head>

  <body>
    <%- include('header') -%>

    <section>
      <div id="submenu_title">
        <p>1:1 문의</p>
      </div>
      <article>
        <div class="consult_view">
          <ul>
            <%
              var d = data.created;
              var date = d.getFullYear() + "." + d.getMonth() + "." + d.getDate();
              if (data.password === null){
                var ispassword = 'x';
              }else{
                var ispassword = 'o';
              }
            %>
            <li>제목 : <%= data.title %></li>
            <li>작성자 : <%= data.name %></li>
            <li>작성일 : <%= date %></li>
            <li>비밀글 : <%= ispassword %></li>
            <li>
              <p>문의글</p>
              <textarea rows="10" cols="100" readonly> <%= data.description %> </textarea>
            </li>
            <li>
              <p>답글</p>
              <form action="/admin/update" method="post">
                <textarea rows="10" cols="100" name="answer" form="usrform"></textarea><br>
                <input type="submit" value="등록">
              </form>
            </li>
          </ul>

        </div>
      </article>
    </section>

    <%- include('footer') -%>
  </body>
</html>
